.filler {
  height: 54px;
  width: 100%;
}

table {
  width: 100%;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  margin-top: 10px;
}

td, th {
  text-align: center;
}

.timeslot:hover {
  border: 1px solid black;
}
